<div class="row">
	<div class="span9">
		<div class="page-header">
			<h1>Latest</h1>
		</div>
		<div>
			<% @posts.each do |post| %>
				<blockquote>
					<p>
						<%= post.message %>
					</p>
					<small>
						<%= post.user.name %>,
						<%= post.created_at.strftime("%b %e, %l:%M %p") %>
					</small>
				</blockquote>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<h3>About</h3>
		<p>
			Buckly is an experiment.
		</p>
	</div>
</div>